html, body{
    min-height: 100%;
    padding: 0;
    margin: 0;
}

body{
    font-family: Helvetica, sans-serif;
    background-image: url(https://s3-us-west-2.amazonaws.com/s.cdpn.io/356112/splitshire.jpg);
    background-repeat: no-repeat;
    background-size: cover;
}

ul {
    list-style: none;
}

ul li a {
    text-decoration: none;
    color: #FFF;
}

h1 {
    color: purple;
    text-transform: uppercase;
    font-weight: bold;
    font-style: italic;
}

@media screen and (min-width: 700px) {
    header {
        display: flex;
        flex-direction: row;
    }

    ul li {
        display: inline-block;
    }
}