<!DOCTYPE html>
<html>
  <head>
    <title>{{ title }}</title><!-- Latest compiled and minified CSS -->

    <script src="/socket.io/socket.io.js"></script>

    <link rel="stylesheet" href="../stylesheets/style.css">

  </head>
  <body>
    {% block body %}

    {% endblock %}
  </body>
</html>
