{% extends 'layout.twig' %}


{% block body %}
    <div class="container">
        <a href="auth/facebook" class="btn btn-center">Login with facebook</a>
    </div>
{% endblock %}

{% block body %}
    <a href="auth/facebook">Login with facebook</a>
{% endblock %}

